.contact-form {
    background-color: #f6f6f6;
    padding: 50px;
    border-radius: 8px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    margin-top: 10px;
    margin-top: 10px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.client-status, .service-type {
    margin-top: 10px;
    padding: 10px;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.location-section {
    margin-top: 40px;
}

.location-title {
    font-size: 20px;
}

.location-description {
    margin-top: 10px;
}

.location-map {
    width: 100%;
    height: auto;
}

.contact-info {
    margin-top: 40px;
}

.contact-title {
    font-size: 20px;
}

.forma{
    padding: 40px 300px 0px 300px;
}
.service-type{
    display: inline;
}

.form-label{
    display: flex;
}
h1{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.texto1{
    padding: 20px 30px 30px 20px;
    text-align: center;
}